* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media (max-width: 920px) {
.card-container {
    display: flex;
}
  }

  .header-space {
      height: 150;
  }

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 250;
    border: 1px solid lightblue;
    box-shadow: 10px 5px 5px darkgray;
    margin: 15px;
}

.product-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    border-bottom: 1px solid lightblue;
}

.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.section1 {
    margin-bottom: 10px;
}

.availability {
    color: yellow;
    background-color: grey;
}

.section2 {
    font-weight: bold;
    margin-bottom: 10px;
}

.specs-expiration {
    font-size: small;
}

.section3 {
    font-weight: bold;
    margin-bottom: 5px;
}

